$primary: 'blue';
$accent: 'teal';

@import 'ember-paper';

body {
  background-image: url('/background.jpg');
}

body a {
  text-decoration: none;
  color: black;
}

.button-text {
  color: $primary;
}

.spacer {
  margin-top: 7%;
}

.stretch {
  width: 2%;
}


.single-card {
  padding: 2%;
}

.opacity {
  opacity: 70%;
}

.brand-logo {
  margin-right: 0.5%;
  width: 2.5%;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
}

.kwiplasz-game {
  margin-top: 1%;
  background-color: white;
  opacity: 0.8;
  min-width: 1400px; //temporary solution
  width: 90vh;
  height: 90vh;
  box-shadow: 1px 1px;
}