{{#paper-toolbar accent=true}}
  {{#paper-toolbar-tools}}
    <h2>Grasz jako: {{user.name}}</h2>
    <span class="flex-35"></span>
    <h1>{{room.name}}</h1>
    <span class="flex-20"></span>
    <h1>ID pokoju: {{room.id}}</h1>
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<h2>Obecnie w pokoju:</h2>
{{#each room.userList as |otherUser|}}
  {{otherUser.name}}
{{/each}}
