{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#link-to 'application'}}
      <h2>JacekTiVi</h2>
    {{/link-to}}
    <span class="stretch"></span>
    {{#link-to 'play'}}
      {{#paper-button raised=true}}
        <span class="button-text">Play</span>
      {{/paper-button}}
    {{/link-to}}
    {{#link-to 'questions'}}
      {{#paper-button raised=true}}
        <span class="red-text">Questions</span>
      {{/paper-button}}
    {{/link-to}}
   {{/toolbar.tools}}
 {{/paper-toolbar}}

{{outlet}}