<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-30">
    {{#link-to 'kwiplasz'}}
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Kwiplasz{{/text.headline}}
            {{#text.subhead}}Pytania i odpowiedzi{{/text.subhead}}
          {{/title.text}}
          {{title.media size="lg" src="/kwiplasz.png" alt="Kwiplasz" title="Kwiplasz"}}
        {{/card.title}}
      {{/paper-card}}
    {{/link-to}}
  </div>
</div>

{{outlet}}
